.BuscaViajeVerPaquetes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(30, 224, 219);
    background: -moz-linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    background: linear-gradient(0deg, rgba(30, 224, 219, 1) 0%, rgba(34, 159, 195, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ee0db", endColorstr="#229fc3", GradientType=1);
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
    gap: 1rem;
}

.VerPaquetes__Header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.BuscaViajeVerPaquetes .VerPaquetes__Header .LabelOrigen,
.BuscaViajeVerPaquetes .VerPaquetes__Header .LabelDestino,
.BuscaViajeVerPaquetes .VerPaquetes__Header .LabelFecha,
.BuscaViajeVerPaquetes .VerPaquetes__Header .LabelPasajeros {
    display: none;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}